* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0F101A;
  overflow-x: hidden;
}
#canvas {
  width: 100%;
  border: 1px solid white;
}
@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
}
