* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0F101A;
  overflow-x: hidden;
}
#app {
  width: 100vw;
}
nav {
  background-color: #2B2B2B;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  overflow: hidden;
}
nav .brand .button-menu {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-inline: 10px;
}
main {
  width: 80%;
  display: flex;
  margin: auto;
}
main > *{
  margin-inline: 25px;
}
main #show-information {
  width: 40%;
}
main .container {
  margin-top: 15px;
  padding: 15px;
  background: #2B2B2B;
  color: white;
}
.form {
  display: flex;
}
.form .field-input {
  width: 100%;
  margin-inline: 10px;
}
.form .field-input input {
  background-color: #2B2B2B;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid white;
  border-radius: 0px;
  box-sizing: border-box;
}
#show-information .shots-header {
  background-color: #2B2B2B;
  color: white;
  padding: 15px;
  margin: 15px 0;
}
#show-information .shot-item {
  background-color: #2B2B2B;
  color: white;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#calc {
  margin: 15px 0;
  padding: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
}
#calc:hover {
  background-color: red;
}
.container-canvas {
  width: 100%;
}
#canvas {
  width: 100%;
  border: 1px solid white;
}
@media screen and (max-width: 768px){
  nav {
    display: block;
  }
  nav .brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .brand .button-menu {
    display: block;
  }
  nav ul {
    margin-top: 40px;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  main #show-information {
    width: 90%;
    box-sizing: border-box;
  }
  .form {
    display: block;
  }
  .form .field-input {
    margin-inline: 0;
  }
  .form .field-input input {
    margin-bottom: 15px;
  }
}

